%h1 Авторизация в системе

= form_with url: signin_path, local: true do |f|
  .field
    = f.label :email, "Почтовый адрес"
    = f.email_field :email, required: true, autofocus: true, class: "form-control"
  .field
    = f.label :password, "Пароль"
    = f.password_field :password, required: true, class: "form-control"
  .actions.mt-3.d-flex.justify-content-center
    = f.submit 'Войти', class: 'btn btn-primary'

%p.mt-4
  %span У вас нет аккаунта?
  = link_to 'Зарегистрироваться', new_user_path, class: 'btn btn-link'
