%footer
  %p © 2025 ShaggyBa. Все права защищены.
  %nav
    %ul
      %li= link_to t('shared.header.home'), root_path
      - if can? :read, Book
        %li= link_to t('shared.header.books'), books_path
      - if can? :read, User
        %li= link_to t('shared.header.users'), users_path
      - if can? :read, Rental
        %li= link_to t('shared.header.rentals'), rentals_path
    %ul
      %li= link_to t('shared.header.about'), about_path
      %li= link_to t('shared.header.contacts'), contacts_path
      %li= link_to t('shared.header.help'), help_path
