<div id="<%= dom_id rental %>">
  <p>
    <strong>Book:</strong>
    <%= rental.book_id %>
  </p>

  <p>
    <strong>User:</strong>
    <%= rental.user_id %>
  </p>

  <p>
    <strong>Rent date:</strong>
    <%= rental.rent_date %>
  </p>

  <p>
    <strong>Collection period:</strong>
    <%= rental.collection_period %>
  </p>

  <p>
    <strong>Librarian:</strong>
    <%= rental.librarian_id %>
  </p>

</div>
