= link_to'Библиотека', library_path
%h1 Все книги
= form_with class: "books__form", url: library_all_path, method: :get, local: true do |f|
  = f.select :sort_by, options_for_select([["По алфавиту", "alphabetical"], ["По количеству", "count"]], params[:sort_by])
  = f.submit "Сортировать", class: "btn btn-info"

- if @books.any?
  %div{:class => "books__container"}
    - @books.each do |book|
      %div{:class => "books__element"}
        %strong= book.book_name
        %p=" (#{book.author}) — Кол-во: #{book.count}"
        %img{:src => "#{book.image}"}

- else
  %p Нет книг в библиотеке.