- unless current_user&.reader?
  = link_to 'Назад', main_index_path

%h1 Каталог книг
.left_controls
  %turbo-frame{id: "book_display"}
    = form_with url: library_display_book_path, method: :get, data: { turbo_frame: "book_display" } do |f|
      = select_tag :category, options_for_select(Book.distinct.pluck(:category)), prompt: 'Выберите категорию'
      = f.submit "Показать найденные книги", class: 'btn btn-primary', data: { turbo_action: "advance" }
      %br/
      = link_to "Посмотреть все книги", library_all_path, class: "btn btn-outline-primary", data: { turbo_action: "advance" }
      %br/
      - if can? :manage, Rental
        = link_to "Аренды читателей", library_users_rentals_path, class: "btn btn-outline-secondary", data: { turbo_action: "advance" }

%br
%br
%br
%br

%h1 Добро пожаловать в Электронную библиотеку (пользователь)
%div.section__container
  %section.library__section
    %h2 Популярное сейчас
    - if @popular_books.any?
      = render partial: "library/book_slider", locals: { books: @popular_books }
    - else
      %p Пока у нас нет статистики аренд.

  %section.library__section
    %h2.mb-2 Мои текущие аренды:
  - if @my_rentals.any?
    %ul.my-rentals
      - @my_rentals.each do |rental|
        %li
          = link_to rental.book.book_name, book_path(rental.book)
          %small.text-muted (до #{rental.rent_date + rental.collection_period.days})
  - else
    %p У вас нет активных аренд.

  %section.library__section
    %h2 Предлагаем:
    = render partial: "library/book_slider", locals: { books: @random_books }
