<div id="<%= dom_id book %>">
  <p>
    <strong>Book name:</strong>
    <%= book.book_name %>
  </p>

  <p>
    <strong>Author:</strong>
    <%= book.author %>
  </p>

  <p>
    <strong>Image:</strong>
    <%= book.image %>
  </p>

  <p>
    <strong>Count:</strong>
    <%= book.count %>
  </p>

</div>
