!!!
%html
  %head
    %meta{ content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type" }/
    %title Электронная библиотека
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag "application", media: "all"
    = stylesheet_link_tag "application.bootstrap", "data-turbo-track": "reload"
    = javascript_include_tag 'application', 'data-turbo-track': 'reload'
    = javascript_importmap_tags
    = favicon_link_tag '/favicon.ico'
    %link{ rel: "apple-touch-icon", sizes: "180x180", href: "/apple-touch-icon.png" }
    %link{ rel: "icon", type: "image/png", sizes: "32x32", href: "/favicon-32x32.png" }
    %link{ rel: "icon", type: "image/png", sizes: "16x16", href: "/favicon-16x16.png" }
    %link{ rel: "manifest", href: "/site.webmanifest" }
  %body
    .wrapper
      %header
        = render "shared/header"
      .content
        = yield
      %footer
        = render "shared/footer"
